*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/trunk/Software/bau_mckp_solver/nbproject/private/
/trunk/Software/bau_mckp_solver/build/
/trunk/Software/bau_mckp_solver/dist/
/trunk/Software/FInal_Solver/nbproject/private/
/trunk/Software/Final_Solver/nbproject/private/