* {
    padding: 0px;
    margin: 0px;
    font-size: 12pt;

}

html, body {
    height: 100%;
}

#header {
    margin: 0px;
    background-color: white;
    width: calc(100% - 30px);
    background: #ffffff;
    height:90px;   
}


#title-header {
    padding-left: 15px;
    padding-top: 35px;
    width: 500px;
    font-family: Source Sans Pro, Ubuntu, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #505050;
    line-height: 15px;
}

#menu{

}

#content{
    padding: 10px;
    min-height: calc(100% - 142px - 45px - 40px);
    max-height: auto;
    font-family: Source Sans Pro, Ubuntu, sans-serif;
}

#footer {
    padding-top: 20px;
    border-top: 1px solid #DFD9C3;
    background-color: #FAFAF4;
    height: 50px;
}




#footer-logo{
    margin-top: 5px;
    margin-left: 20px;
    width: 272px;
    height: 25px;
    float: left;
}

#footer-text{
    text-align: center;
    width: 300px;
    margin-left: -150px;
    left: 50%;
    position: absolute;
}



